.header {
  text-align: center;
}

.header h1 {
  color: #1976d2;
}

.whiteboardContainer {
  background-color: whitesmoke;
  width: 75%;
  min-height: 40rem;
  border-radius: 3px;
  margin: 1rem auto;
  padding: 1rem;
  border: 3px solid #1976d2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.whiteboardContainer >* {
  flex: 30%;
  flex-grow: 0;
}

.note {
  min-width: 12rem;
  max-width: 14rem;
  height: 12rem;
  font-size: 0.8rem;
  background-color: #FEFF9C;
  border: 2px solid #1976d2;
  border-radius: 1px 5px 1px 5px;
  padding: 0.5rem;
}

.note h4 {
  color: white;
  background-color: #1976d2;
  max-width: 5rem;
  margin: 1rem auto;
  padding: 0.5rem;
  border-radius: 1px 10px 1px 10px;
}

.newNote {
  min-width: 12rem;
  max-width: 14rem;
  height: 12rem;
  font-size: 0.8rem;
  background-color: #FEFF9C;
  border: 2px solid #1976d2;
  border-radius: 1px 5px 1px 5px;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.newNote textarea {
  min-height: 8rem;
  min-width: 10rem;
  max-height: 8rem;
  max-width: 10rem;
  margin-bottom: 1rem;
  border-color: #1976d2;
  color: #1976d2;
}

.gridBox {
  padding: 10rem auto !important;
}

@media only screen and (max-width: 1320px) {
  .note {
    margin-top: 1rem;
  }
  .newNote {
    margin-top: 1rem;
  }
}

.footer {
  text-align: center;
}

.footer h2{
  width: 40rem;
  margin: 0 auto;
}

.footer h2:hover {
  cursor: pointer;
  color: #1976d2;
}
